header, footer {
    background-color: grey;
}

.blogposts, .last-blogposts {
    margin: 10px 20px;
}

.last-blogposts {
    display: flex;
    justify-content: space-between;
}

label {
    text-align: right;
    width: 100px;
    display: inline-block;
}

section {
    border: 1px black solid;
}